* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
    color: #767767;
    scroll-behavior: smooth;
}

/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets ***
769px — 1024px: Small screens, laptops ***
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

body {
    margin: 0 auto;
    max-width: 1920px;
    &.load {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
    /*Estilos por default*/
    h1 {
        font-size: 3rem;
        font-weight: bold;
        @media (max-width: 1024px) {
            font-size: 2.5rem;
        }
        @media (max-width: 768px) {
            font-size: 2.25rem;
        }
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        @media (max-width: 1024px) {
            font-size: 2rem;
        }
        @media (max-width: 768px) {
            font-size: 1.75rem;
        }
    }
    h3 {
        font-size: 2.25rem;
        font-weight: 500;
        @media (max-width: 1024px) {
            font-size: 1.75rem;
        }
        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }
    h4 {
        font-size: 1.75rem;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 1.5rem;
        }
        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }
    span, p, a, button, input, textarea {
        font-size: 1.5rem;
        font-weight: 300;
        @media (max-width: 1024px) {
            font-size: 1.25rem;
        }
        @media (max-width: 768px) {
            font-size: 1rem;
        }
        &::placeholder {
            font-size: 1rem;
            font-weight: 300;
            @media (max-width: 768px) {
                font-size: 0.75rem;
            }
        }
    }
    
    background-image: url('https://picsum.photos/id/6/1920/1080');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    @media (max-width: 768px) {
        background-size: cover;
    }
    /*Componentes*/
    .preloader {
        width:100%;
        height:100vh;
        position: relative;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width:100%;
            height:100vh;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 3rem;
            text-align: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }
    .preheader {
        margin: 0 auto;
        padding: 0.5rem 10%;
        width: 100%;
        min-height: 50px;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ededed;
        @media (max-width: 768px) {
            min-height: 100px;
            padding: 0.5rem;
            flex-direction: column-reverse;
            justify-content: center;
        }
        &__search {
            form {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                @media (max-width: 768px) {
                    justify-content: center;
                }
                input {
                    width: 200px;
                    font-size: 1rem;
                    padding: 0.25rem 0.5rem;
                    border: none;
                    background-color: #ffffff;
                    border-radius: 0.5rem;
                    outline: none;
                }
                button {
                    width: 50px;
                    border: none;
                    background-color: transparent;
                    padding: 0.25rem;
                    outline: none;
                    .fa-solid.fa-magnifying-glass {
                        color: inherit;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        &__social-networks {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            @media (max-width: 768px) {
                padding: 0.5rem;
                justify-content: center;
            }
            a {
                text-align: center;
                width: 50px;
                .fa-solid,
                .fa-brands {
                    text-align: center;
                    width: 50px;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    .countdown {
        margin: 0 auto;
        padding: 4rem 0;
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba(0,0,0,0.3);
        // backdrop-filter: blur(5px);
        @media (max-width: 1024px) {
            padding: 3rem 0;
        }
        @media (max-width: 768px) {
            padding: 2rem 0;
        }
        &__background {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("https://www.wordzz.com/wp-content/uploads/2018/12/Happy-new-year-hd.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(0.5rem);
            z-index: -10;
        }
        &__items {
            margin: 0 auto;
            padding: 1rem 0;
            width: 50%;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
            z-index: 0;
            @media (max-width: 1024px) {
                gap: 0.5rem;
                width: 60%;
            }
            @media (max-width: 768px) {
                gap: 0.5rem;
                width: 95%;
            }
            div {
                margin: auto;
                padding: 0.5rem 0;
                border: none;
                background-color: #ffffff;
                border-radius: 0.25rem;
                box-shadow: 0 0 0.5rem black;
                h2,p {
                    text-align: center;
                }
            }
        }
        &__message {
            padding: 1rem 0;
            z-index: 0;
            h2 {
                color: white;
                text-align: center;
                text-shadow: 0 0 0.25rem black;
                padding: 0 0 1rem;
            }
            p {
                text-align: center;
                color: #ffffff;
                font-style: italic;
                font-size: 95%;
                text-shadow: 0 0 0.25rem black;
                span {
                    text-align: center;
                    color: #ffffff;
                    font-size: 100%;
                    font-style: normal;
                    font-weight: bold;
                    text-shadow: 0 0 0.25rem black;
                }
            }
        }
    }
    header {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        min-height: auto;
        display: block;
        position: sticky;
        top: 50px;
        z-index: 1;
        @media (max-width: 768px) {
            top: 100px;
        }
        .header-mobile-button {
            margin: 0 auto;
            padding: 1rem 0;
            display: none;
            width: 100%;
            min-height: 25px;
            background-color: rgba(0,0,0,0.3);
            @media (max-width: 768px) {
                display: block;
            }
            .header-btn {
                margin: 0 auto;
                display: block;
                text-align: center;
                width: 25px;
                height: 25px;
                color: white;
                font-size: 25px;
                transition: all 0.5s ease-in-out;
                &::before {
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    color: white;
                    font-size: 25px;
                }
            }        
        }
        .header {
            margin: 0 auto;
            padding: 0.5rem 0;
            width: 100%;
            min-height: 75px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.3);
            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                padding: 0.5rem;
                display: none;
            }
            &__nav {
                margin: 0 auto;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                @media (max-width: 768px) {
                    grid-template-columns: 100%;
                }
                a {
                    text-align: center;
                    color: #ffffff;
                    text-decoration: none;
                    @media (max-width: 768px) {
                        padding: 0 0 0.5rem;
                        &:first-of-type {
                            padding-top: 0.5rem;
                        }
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
            }
            &__logo {
                margin: 0 auto;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    h1 {
                        text-align: center;
                        color: #ffffff;
                        font-weight: 700;
                    }
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
            &.show {
                border-top: 1px solid white;
                display: grid;
                transition: all 1s ease-in-out;
            }
        }
    }
    .postheader {
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media (max-width: 768px) {
            height: 200px;
            justify-content: flex-end;
            padding: 1rem 0;
        }
        h2 {
            display: block;
            color: #ffffff;
            @media (max-width: 768px) {
                padding: 0 1rem;
            }
        }
        a {
            padding: 1rem 0;
            text-decoration: none;
            color: #ffffff;
            h4 {
                display: block;
                color: #ffffff;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        h4 {
            display: block;
            color: #ffffff;
        }
    }
    .section_1 {
        width: 100%;
        margin: 0 auto;
        padding: 4rem 0;
        background-color: #ededed;
        @media (max-width: 768px) {
            padding: 2rem;
        }
        div {
            margin: 0 auto;
            width: 80%;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 768px) {
                width: 100%;
                grid-template-columns: 100%;
            }
            a {
                margin: 0 auto;
                padding: 0;
                width: 100%;
                height: 400px;
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width: 768px) {
                    height: 200px;
                }
                .img_link {
                    display: none;
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    height: 400px;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255,255,255,0.5);
                    color: black;
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                    &.show {
                        display: flex;
                    }
                }
                
            }
        }
    }
    .section_2 {
        margin: 0 auto;
        width: 100%;
        padding: 4rem 0;
        background-color: white;
        @media (max-width: 768px) {
            padding: 2rem;
        }
        div {
            margin: 0 auto;
            width: 80%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            @media (max-width: 768px) {
                width: 100%;
            }
            h3 {
                padding: 0 0 2rem;
                text-align: center;
                font-weight: 600;
            }
            a {
                margin: 0 auto;
                padding: 0;
                width: 100%;
                height: 400px;
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                color: black;
                text-decoration: none;
                @media (max-width: 768px) {
                    height: 200px;
                }
                .img_link {
                    display: none;
                    width: 100%;
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    height: 400px;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255,255,255,0.5);
                    color: black;
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                    p {
                        margin: 0 auto;
                        width: 50%;
                        color: black;
                        text-align: center;
                        text-decoration: none;
                        @media (max-width: 768px) {
                            width: 80%;
                        }
                    }
                    h4 {
                        color: black;
                        text-align: center;
                        padding: 2rem 0;
                        width: 100%;
                        text-decoration: underline;
                        @media (max-width: 768px) {
                            padding: 1rem 0;
                        }

                    }
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                    &.show {
                        display: flex;
                    }
                }
            }
        }
    }
    .section_3 {
        margin: 0 auto;
        padding: 4rem 0;
        width: 100%;
        background-color: transparent;
        @media (max-width: 768px) {
            padding: 2rem;
        }
        div {
            margin: 0 auto;
            padding: 2rem;
            width: 450px;
            background-color: #ffffff;
            @media (max-width: 768px) {
                width: 100%;
            }
            p {
                text-align: center;
                padding: 0 0 1rem;
            }
            h3 {
                text-align: center;
                padding: 0 0 1rem;
                font-weight: 600;
            }
            form {
                input {
                    padding: 0.5rem;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid #000000;
                    outline: none;
                    &::placeholder {
                        text-align: center;
                    }
                }
                button {
                    padding: 0.5rem;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
            }
        }
    }
    .section_4 {
        width: 100%;
        margin: 0 auto;
        padding: 4rem 0;
        background-color: #ededed;
        @media (max-width: 768px) {
            padding: 2rem;
        }
        div {
            h3 {
                text-align: center;
                font-weight: 600;
                padding: 0 0 2rem;
            }
            .row_1 {
                margin: 0 auto;
                padding: 0 0 1rem;
                width: 80%;
                display: grid;
                gap: 15px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @media (max-width: 768px) {
                    width: 100%;
                    grid-template-columns: 100%;
                }
                a {
                    margin: 0 auto;
                    padding: 0;
                    width: 100%;
                    height: 300px;
                    display: block;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                    .img_link {
                        display: none;
                        text-decoration: none;
                        color: black;
                        text-align: center;
                        height: 300px;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(255,255,255,0.5);
                        color: black;
                        @media (max-width: 768px) {
                            height: 200px;
                        }
                        &.show {
                            display: flex;
                        }
                    }
                    
                }
            }
            .row_2 {
                margin: 0 auto;
                width: 80%;
                display: grid;
                gap: 15px;
                grid-template-columns: 1fr 1fr;
                @media (max-width: 768px) {
                    width: 100%;
                    grid-template-columns: 100%;
                }
                a {
                    margin: 0 auto;
                    padding: 0;
                    width: 100%;
                    height: 300px;
                    display: block;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                    .img_link {
                        display: none;
                        text-decoration: none;
                        color: black;
                        text-align: center;
                        height: 300px;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(255,255,255,0.5);
                        color: black;
                        @media (max-width: 768px) {
                            height: 200px;
                        }
                        &.show {
                            display: flex;
                        }
                    }
                    
                }
            }
        }
    }
    .section_5 {
        padding: 2rem 0;
        background-color: #ededed;
        &__title {
            h3 {
                text-align: center;
            }
        }
        &__items {
            margin: 0 auto;
            width: 80%;
            @media (max-width: 768px) {
                width: 100%;
            }
            &__item {
                box-shadow: 0 0 0.25rem rgba(0,0,0,0.3);
                background-color: #ffffff;
                margin: 2rem 1rem;
                padding: 0;
                border: none;
                border-radius: 0;
                img {
                    width: 100%;
                    display: block;
                }
                &__content {
                    padding: 1rem;
                    h4 {
                        text-align: center;
                        padding: 0 0 1rem;
                        font-size: 1.25rem;
                        color: #333;
                        font-weight: 600;
                    }
                    p {
                        padding: 0 0 1rem;
                        font-size: 0.75rem;
                        &:first-of-type {
                            font-weight: 600;
                            font-size: 0.75rem;
                            color: #333;
                        }
                        span {
                            font-size: 0.75rem;
                            font-weight: 600;
                            text-align: right;
                            color: #333;
                        }
                    }
                    button {
                        margin: 0 auto;
                        width: 100%;
                        padding: 0.5rem 0;
                        outline: none;
                        border: none;
                        border-radius: 0;
                        background-color: #000000;
                        color: #ffffff;
                        font-size: 1rem;
                        &:hover {
                            opacity: 0.7;
                        }
                    }

                }
            }
            .slick-arrow::before {
                font-size: 50px;
                color: #000000;
            }
            .slick-arrow {
                width: 50px;
                height: 50px;
            }
            .slick-next.slick-arrow {
                right: -50px;
            }
            .slick-prev.slick-arrow {
                left: -50px;
                z-index: 1;
            }
            .slick-dots {
                position: unset;
                li {
                    button::before {
                        font-size: 0.75rem;
                        line-height: 0.75rem;
                    }
                }
            }
        }
    }
    .section_6 {
        padding: 4rem 0;
        background-color: #ffffff;
        &__title {
                margin: 0 auto;
                padding: 0 0 1rem;
                display: block;
                width: 80%;
                text-align: center;
        }
        &__item {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 80%;
            border-top: 1px solid #777;
            &:last-of-type {
                border-bottom: 1px solid #777;
            }
            &__title {
                margin: 0;
                padding: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                h3 {
                    margin: 0;
                    padding: 0;
                }
                .fas {
                    text-align: right;
                    margin: 0;
                    font-size: 1rem;
                    width: 50px;
                    padding: 0;
                    color: #555555;
                    transition: all 0.5s ease-in-out;
                }
            }
            &__content {
                margin: 0;
                padding: 1rem 2rem;
                display: none;
                &.showFaqs {
                    display: block;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .footer {
        margin: 0 auto;
        padding: 4rem 10%;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        @media (max-width: 768px) {
            padding: 0.5rem;
            flex-direction: column-reverse;
            justify-content: center;
        }
        &__search {
            form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                @media (max-width: 768px) {
                    justify-content: center;
                }
                input {
                    width: 200px;
                    font-size: 1rem;
                    padding: 0.25rem 0.5rem;
                    border: none;
                    background-color: #ffffff;
                    border-radius: 0.5rem;
                    outline: none;
                }
                button {
                    width: 50px;
                    border: none;
                    background-color: transparent;
                    padding: 0.25rem;
                    outline: none;
                    .fa-solid.fa-magnifying-glass {
                        color: #ffffff;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        &__social-networks {
            padding: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                padding: 0.5rem;
                justify-content: center;
            }
            a {
                text-align: center;
                width: 50px;
                .fa-solid,
                .fa-brands {
                    text-align: center;
                    width: 50px;
                    color: white;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &__subscribe {
            width: 50%;
            margin: 0 auto;
            h4 {
                text-align: center;
                padding: 0 0 1rem;
                color: #ffffff;
            }
            form {
                input {
                    padding: 0.5rem;
                    border: none;
                    outline: none;
                    background-color: white;
                    border-radius: 0.5rem;
                    &::placeholder {
                        text-align: center;
                    }
                }
                button {
                    color: #ffffff;
                    padding: 0.5rem;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
            }
        }
    }
    .pop-up {
        margin: 0;
        padding: 0;
        width: auto;
        position: fixed;
        bottom: 25px;
        right: 25px;
        background-color: rgba(0,0,0,0.7);
        display: none;
        z-index: 10;
        .warning-text {
            font-size: 1rem;
            padding: 1rem;
            color: #ffffff;
            position: relative;
            z-index: 15;
        }
        .close_icon {
            color: rgb(226, 55, 55);
            position: absolute;
            display: block;
            font-size: 1.5rem;
            width: 1rem;
            height: 1rem;
            top: -1rem;
            right: -1rem;
            font-size: 1rem;
            &::before {
                color: rgb(226, 55, 55);
                display: block;
                font-size: 1.5rem;
                width: 1rem;
                height: 1rem;
                top: -1rem;
                right: -1rem;
                font-size: 1rem;
            }
        }
    }
}