* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  scroll-behavior: smooth;
}

body {
  /*Estilos por default*/
  background-image: url("https://picsum.photos/id/6/1920/1080");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /*Componentes*/
}

body h1 {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 2rem;
  }
}

body h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  body h2 {
    font-size: 2rem;
  }
}

body h3 {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  body h3 {
    font-size: 1.5rem;
  }
}

body h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  body h4 {
    font-size: 1rem;
  }
}

body span, body p, body a, body button, body input, body textarea {
  font-size: 1.2rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  body span, body p, body a, body button, body input, body textarea {
    font-size: 0.9rem;
  }
}

body span::-webkit-input-placeholder, body p::-webkit-input-placeholder, body a::-webkit-input-placeholder, body button::-webkit-input-placeholder, body input::-webkit-input-placeholder, body textarea::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

body span:-ms-input-placeholder, body p:-ms-input-placeholder, body a:-ms-input-placeholder, body button:-ms-input-placeholder, body input:-ms-input-placeholder, body textarea:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

body span::-ms-input-placeholder, body p::-ms-input-placeholder, body a::-ms-input-placeholder, body button::-ms-input-placeholder, body input::-ms-input-placeholder, body textarea::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

body span::placeholder, body p::placeholder, body a::placeholder, body button::placeholder, body input::placeholder, body textarea::placeholder {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  body span::-webkit-input-placeholder, body p::-webkit-input-placeholder, body a::-webkit-input-placeholder, body button::-webkit-input-placeholder, body input::-webkit-input-placeholder, body textarea::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  body span:-ms-input-placeholder, body p:-ms-input-placeholder, body a:-ms-input-placeholder, body button:-ms-input-placeholder, body input:-ms-input-placeholder, body textarea:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  body span::-ms-input-placeholder, body p::-ms-input-placeholder, body a::-ms-input-placeholder, body button::-ms-input-placeholder, body input::-ms-input-placeholder, body textarea::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  body span::placeholder, body p::placeholder, body a::placeholder, body button::placeholder, body input::placeholder, body textarea::placeholder {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }
}

body .preloader {
  width: 100%;
  height: 100vh;
  position: relative;
}

body .preloader iframe {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

body .preheader {
  margin: 0 auto;
  padding: 0.5rem 10%;
  width: 100%;
  min-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
}

@media (max-width: 768px) {
  body .preheader {
    min-height: 100px;
    padding: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .preheader__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .preheader__search form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .preheader__search form input {
  width: 200px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  outline: none;
}

body .preheader__search form button {
  width: 50px;
  border: none;
  background-color: transparent;
  padding: 0.25rem;
  outline: none;
}

body .preheader__search form button .fa-solid.fa-magnifying-glass {
  color: inherit;
}

body .preheader__search form button:hover {
  opacity: 0.5;
}

body .preheader__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .preheader__social-networks {
    padding: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .preheader__social-networks a {
  text-align: center;
  width: 50px;
}

body .preheader__social-networks a .fa-solid,
body .preheader__social-networks a .fa-brands {
  text-align: center;
  width: 50px;
}

body .preheader__social-networks a:hover {
  opacity: 0.5;
}

body header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: auto;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1;
}

@media (max-width: 768px) {
  body header {
    top: 100px;
  }
}

body header .header {
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 100%;
  min-height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  body header .header {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    padding: 0.5rem;
  }
}

body header .header__nav {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  body header .header__nav {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

body header .header__nav a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 768px) {
  body header .header__nav a {
    padding: 0 0 0.5rem;
  }
  body header .header__nav a:first-of-type {
    padding-top: 0.5rem;
  }
}

body header .header__nav a:hover {
  text-decoration: underline;
}

body header .header__logo {
  margin: 0 auto;
}

body header .header__logo a {
  text-decoration: none;
  color: #ffffff;
}

body header .header__logo a h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

body .postheader {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  body .postheader {
    height: 200px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 2rem;
  }
}

body .postheader h2 {
  display: block;
  color: #ffffff;
}

body .postheader a {
  padding: 1rem 0;
  text-decoration: none;
  color: #ffffff;
}

body .postheader a h4 {
  display: block;
  color: #ffffff;
}

body .postheader a:hover {
  text-decoration: underline;
}

body .postheader h4 {
  display: block;
  color: #ffffff;
}

body .section_1 {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  background-color: #ededed;
}

@media (max-width: 768px) {
  body .section_1 {
    padding: 2rem;
  }
}

body .section_1 div {
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  body .section_1 div {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

body .section_1 div a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 400px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body .section_1 div a {
    height: 200px;
  }
}

body .section_1 div a .img_link {
  display: none;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  body .section_1 div a .img_link {
    height: 200px;
  }
}

body .section_1 div a .img_link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_2 {
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
  background-color: white;
}

@media (max-width: 768px) {
  body .section_2 {
    padding: 2rem;
  }
}

body .section_2 div {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

@media (max-width: 768px) {
  body .section_2 div {
    width: 100%;
  }
}

body .section_2 div h3 {
  padding: 0 0 2rem;
  text-align: center;
  font-weight: 600;
}

body .section_2 div a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 400px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  body .section_2 div a {
    height: 200px;
  }
}

body .section_2 div a .img_link {
  display: none;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  body .section_2 div a .img_link {
    height: 200px;
  }
}

body .section_2 div a .img_link p {
  margin: 0 auto;
  width: 50%;
  color: black;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  body .section_2 div a .img_link p {
    width: 80%;
  }
}

body .section_2 div a .img_link h4 {
  color: black;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  text-decoration: underline;
}

@media (max-width: 768px) {
  body .section_2 div a .img_link h4 {
    padding: 1rem 0;
  }
}

@media (max-width: 768px) {
  body .section_2 div a .img_link {
    height: 200px;
  }
}

body .section_2 div a .img_link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_3 {
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
  background-color: transparent;
}

@media (max-width: 768px) {
  body .section_3 {
    padding: 2rem;
  }
}

body .section_3 div {
  margin: 0 auto;
  padding: 2rem;
  width: 450px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  body .section_3 div {
    width: 100%;
  }
}

body .section_3 div p {
  text-align: center;
  padding: 0 0 1rem;
}

body .section_3 div h3 {
  text-align: center;
  padding: 0 0 1rem;
  font-weight: 600;
}

body .section_3 div form input {
  padding: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  outline: none;
}

body .section_3 div form input::-webkit-input-placeholder {
  text-align: center;
}

body .section_3 div form input:-ms-input-placeholder {
  text-align: center;
}

body .section_3 div form input::-ms-input-placeholder {
  text-align: center;
}

body .section_3 div form input::placeholder {
  text-align: center;
}

body .section_3 div form button {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

body .section_4 {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  background-color: #ededed;
}

@media (max-width: 768px) {
  body .section_4 {
    padding: 2rem;
  }
}

body .section_4 div h3 {
  text-align: center;
  font-weight: 600;
  padding: 0 0 2rem;
}

body .section_4 div .row_1 {
  margin: 0 auto;
  padding: 0 0 1rem;
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  body .section_4 div .row_1 {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

body .section_4 div .row_1 a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 300px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body .section_4 div .row_1 a {
    height: 200px;
  }
}

body .section_4 div .row_1 a .img_link {
  display: none;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  body .section_4 div .row_1 a .img_link {
    height: 200px;
  }
}

body .section_4 div .row_1 a .img_link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_4 div .row_2 {
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  body .section_4 div .row_2 {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

body .section_4 div .row_2 a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 300px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body .section_4 div .row_2 a {
    height: 200px;
  }
}

body .section_4 div .row_2 a .img_link {
  display: none;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  body .section_4 div .row_2 a .img_link {
    height: 200px;
  }
}

body .section_4 div .row_2 a .img_link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_5 {
  padding: 2rem 0;
  background-color: #ededed;
}

body .section_5__title h3 {
  text-align: center;
}

body .section_5__items {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 768px) {
  body .section_5__items {
    width: 100%;
  }
}

body .section_5__items__item {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin: 2rem 1rem;
  padding: 0;
  border: none;
  border-radius: 0;
}

body .section_5__items__item img {
  width: 100%;
  display: block;
}

body .section_5__items__item__content {
  padding: 1rem;
}

body .section_5__items__item__content h4 {
  text-align: center;
  padding: 0 0 1rem;
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
}

body .section_5__items__item__content p {
  padding: 0 0 1rem;
  font-size: 0.75rem;
}

body .section_5__items__item__content p:first-of-type {
  font-weight: 600;
  font-size: 0.75rem;
  color: #333;
}

body .section_5__items__item__content p span {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: right;
  color: #333;
}

body .section_5__items__item__content button {
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 0;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
}

body .section_5__items__item__content button:hover {
  opacity: 0.7;
}

body .section_5__items .slick-arrow::before {
  font-size: 50px;
  color: #000000;
}

body .section_5__items .slick-arrow {
  width: 50px;
  height: 50px;
}

body .section_5__items .slick-next.slick-arrow {
  right: -50px;
}

body .section_5__items .slick-prev.slick-arrow {
  left: -50px;
  z-index: 1;
}

body .section_5__items .slick-dots {
  position: unset;
}

body .section_5__items .slick-dots li button::before {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

body .section_6 {
  padding: 4rem 0;
  background-color: #ffffff;
}

body .section_6__title {
  margin: 0 auto;
  padding: 0 0 1rem;
  display: block;
  width: 80%;
  text-align: center;
}

body .section_6__item {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 80%;
  border-top: 1px solid #777;
}

body .section_6__item:last-of-type {
  border-bottom: 1px solid #777;
}

body .section_6__item__title {
  margin: 0;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section_6__item__title h3 {
  margin: 0;
  padding: 0;
}

body .section_6__item__title .fas {
  text-align: right;
  margin: 0;
  width: 50px;
  padding: 0;
  color: #555555;
}

body .section_6__item__content {
  margin: 0;
  padding: 1rem 2rem;
  height: 0%;
  display: none;
}

body .section_6__item__content.showFaqs {
  display: block;
  height: 100%;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

body .section_6__item__content p {
  margin: 0;
  padding: 0;
}

body .footer {
  margin: 0 auto;
  padding: 4rem 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  body .footer {
    padding: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .footer__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .footer__search form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .footer__search form input {
  width: 200px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  outline: none;
}

body .footer__search form button {
  width: 50px;
  border: none;
  background-color: transparent;
  padding: 0.25rem;
  outline: none;
}

body .footer__search form button .fa-solid.fa-magnifying-glass {
  color: #ffffff;
}

body .footer__search form button:hover {
  opacity: 0.5;
}

body .footer__social-networks {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .footer__social-networks {
    padding: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .footer__social-networks a {
  text-align: center;
  width: 50px;
}

body .footer__social-networks a .fa-solid,
body .footer__social-networks a .fa-brands {
  text-align: center;
  width: 50px;
  color: white;
}

body .footer__social-networks a:hover {
  opacity: 0.5;
}

body .footer__subscribe {
  width: 50%;
  margin: 0 auto;
}

body .footer__subscribe h4 {
  text-align: center;
  padding: 0 0 1rem;
  color: #ffffff;
}

body .footer__subscribe form input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 0.5rem;
}

body .footer__subscribe form input::-webkit-input-placeholder {
  text-align: center;
}

body .footer__subscribe form input:-ms-input-placeholder {
  text-align: center;
}

body .footer__subscribe form input::-ms-input-placeholder {
  text-align: center;
}

body .footer__subscribe form input::placeholder {
  text-align: center;
}

body .footer__subscribe form button {
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

body .pop-up {
  margin: 0;
  padding: 0;
  width: auto;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

body .pop-up .warning-text {
  font-size: 1rem;
  padding: 1rem;
  color: #ffffff;
  position: relative;
}

body .pop-up .close_icon {
  width: 25px;
  height: 25px;
  color: #e23737;
  position: absolute;
  display: block;
  top: -15%;
  right: -7%;
}

body .load {
  display: none;
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */